@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

#root {
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}

h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.weather_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather_form input {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  border: 2px solid #000;
  outline: none;
}

.weather_form button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  transition: all 1s ease;
}

.weather_form button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.weather_wrapper {
  margin-top: 20px;
}

.weather_city {
  font-size: 25px;
}

.weather_error {
  margin-top: 20px;
  font-size: 24px;
  color: #FF0000;
}

.weather_temp {
  margin-top: 20px;
  font-size: 22px;
}
